<header class="fixed top-0 left-0 right-0 z-50 bg-white/70 backdrop-blur-lg border-b border-white/20 shadow-lg">
  
  <div class="max-w-7xl mx-auto px-8 py-4">
    
    <div class="flex flex-col md:flex-row items-center justify-between gap-4">

      <div class="flex items-center space-x-3">
                    <div class="w-12 h-8 bg-blue-500 rounded-2xl flex items-center justify-center shadow-lg shadow-blue-500/20">
                       <a href="/"> <i class="fas fa-heartbeat text-white text-2xl"></i>
                    </div>
                    <h3 class="text-2xl font-black tracking-tighter">MediCare<span class="text-blue-400">Clinic</span></h3> </a>
                </div>

      <nav class="flex flex-wrap justify-center md:justify-end items-center gap-x-6 gap-y-3 text-sm font-bold">
        <a href="/" data-link class="flex items-center gap-2 text-gray-600 hover:text-blue-600 transition group">
          <i class="fa-solid fa-house text-xs text-gray-400 group-hover:text-blue-600"></i> Home
        </a>

        <a href="/patients" data-link class="flex items-center gap-2 text-gray-600 hover:text-blue-600 transition group">
          <i class="fa-solid fa-user-injured text-xs text-gray-400 group-hover:text-blue-600"></i> Patients
        </a>

        <a href="/doctors" data-link class="flex items-center gap-2 text-gray-600 hover:text-blue-600 transition group">
          <i class="fa-solid fa-user-doctor text-xs text-gray-400 group-hover:text-blue-600"></i> Doctors
        </a>

        <a href="/billing" data-link class="flex items-center gap-2 text-gray-600 hover:text-blue-600 transition group">
          <i class="fa-solid fa-file-invoice-dollar text-xs text-gray-400 group-hover:text-blue-600"></i> Bills
        </a>

        <a href="/profiles" data-link class="flex items-center gap-2 text-gray-600 hover:text-blue-600 transition group">
          <i class="fa-solid fa-id-card text-xs text-gray-400 group-hover:text-blue-600"></i> Profiles
        </a>

        <a href="/about" data-link class="flex items-center gap-2 text-gray-600 hover:text-blue-600 transition group">
          <i class="fa-solid fa-circle-info text-xs text-gray-400 group-hover:text-blue-600"></i> About
        </a>

        <a href="/contact" data-link class="flex items-center gap-2 text-gray-600 hover:text-blue-600 transition group">
          <i class="fa-solid fa-envelope text-xs text-gray-400 group-hover:text-blue-600"></i> Contact
        </a>
      </nav>

    </div>
  </div>
</header>